<!DOCTYPE html>

<html>
    <style>
        html, body {
	background-color: #000;
    height:100%; /* IE6: treaded as min-height*/
    margin: 0;
    padding: 0;
    min-width: 400px;
    color: white;
    }
    </style>
    <head>
        <meta charset="utf-8">
        <title>Some page</title>
    </head>


    <body>
        {{> header}}
        <p>Project page you are here.</p>

        {{> footer}}
    </body>
</html>